<?xml version="1.1" encoding='UTF-8' ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%highlight(%-5level)] %cyan(%logger{5}): %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>